# ------------------------------------------------------------------------------
### Docker-related data
# ------------------------------------------------------------------------------
/docker/data
/docker/logs


# ------------------------------------------------------------------------------
### Automatically created
# ------------------------------------------------------------------------------

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
