{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Kernel.php",
            "Migrations"
        ]
    },
    "logs": {
        "text": "build/reports/infection/infection-log.txt",
        "summary": "build/reports/infection/summary-log.txt",
        "debug": "build/reports/infection/debug-log.txt"
    }
}
